|*{
    padding: 0%;
    margin: 0%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-color: black;
    margin: 0%;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#coracao{
    width: 400px;
    animation: fadeInFadeOut 1s ease-in-out infinite;
}
@keyframes fadeInFadeOut {
    0% {width: 400px;}
    50% {width: 500px;}
    100% {width: 400px;}
}

